Django>=1.10.1
django-webpack-loader>=0.3.3
djangorestframework>=3.4.6
psycopg2>=2.6.2
gunicorn>=19.7.1
OERPLib>=0.8.4
pytz>=2017.2
appdirs>=1.4.3
cffi>=1.9.1
cryptography>=1.7.2
enum34>=1.1.6
Fabric>=1.13.1
pyOpenSSL>=16.2.0
pyparsing>=2.2.0
requests>=2.13.0
simple-salesforce>=0.72.2
six>=1.10.0
