{% load staticfiles %}
<!DOCTYPE html>

<html lang="en" ng-app="ims">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
        {{ title }}
        </title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.6/ng-csv.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/divstyle.css' %}"> -->

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

        <link rel='shortcut icon' href="{% static 'img/favicon.png' %}" type='image/x-icon'/ >

        <!-- <script>
            angular
                .module('ims', ['angular.filter', 'ngAnimate', 'ngSanitize', 'ui.bootstrap', 'ngRoute', 'ui.router''ui.router']);
                .config(['$stateProvider', '$urlRouterProvider', function($stateProvider, $urlRouterProvider){
                    $urlRouterProvider.otherwise('/login');

                    $stateProvider
                        .state('home', {
                            url: '/home',
                            templateUrl: 'templates/home.html',
                            controller: function($scope){
                                console.log("here")
                            }
                        })
                }]);
        </script> -->
    </head>

<body ng-controller="{{controller_id}}">
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="{% url 'home' %}">
                    Home
                </a>
            </li>
            {% if shipping or admin %}
            <li>
                <a href="{% url 'home' %}">Move Parts</a>
            </li>
            <li>
                <a href="{% url 'track' %}">View History</a>
            </li>
            <li>
                <a href="{% url 'inventory' %}">Inventory</a>
            </li>
                {% if purchasing or admin %}
                <li>
                   <a href="{% url 'purchasing' %}">Purchasing</a>
                </li>
                <!-- <li>
                   <a href="{% url 'sfdc' %}">SFDC</a>
                </li> -->
                {% endif %}
            <!-- <li>
               <a href="{% url 'addpart' %}">Add Part</a>
            </li> -->
            {% endif %}
            {% if username %}<li>
                <a href="{% url 'auth_views.logout' %}">Log Out ( {{ username }} )</a>
            </li>{% endif %}
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
             {% block content %}
             {% endblock %}
</div>
</body>
</html>
